.center {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    position: fixed;
    top: 0; right: 0; bottom: 0; left: 0;
    border: 15px solid rgb(34, 130, 185);
}